.copyright
  .container
    .row
      .col-sm-12
        | Copyright &copy; 2015,&nbsp;
        a(href='/') C-team.
        | &nbsp;All Right Reserved
a(href='#', id='back-to-top')
  i.fa.fa-angle-up
