{% block footer %}

    <!-- start copyright section -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright &copy; 2015, <a href="/">C-team</a>.  All Right Reserved
                </div>
            </div>
        </div>
    </div>
    <!-- end copyright section -->
    <a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>

{% endblock %}