{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <!-- start main post area -->
        <div class="col-md-8 main-content">
            <!-- start post -->
            <article id="15" class="post page">
                <div class="post-head">
                    <h2 class="post-title">Code Highlighting</h2>
                </div>
                <div class="post-content">
                    <p>To highlight code block in your post We have included <a href="https://highlightjs.org/">highlight.js</a>.
                        22 Common languages support by default.</p>

                    <p>Here is a small example of highlighting. Sample code from Bootstrap.</p>

<pre><code>&lt;div class="btn-group btn-group-justified" role="group" aria-label="..."&gt;
    &lt;div class="btn-group" role="group"&gt;
        &lt;button type="button" class="btn btn-default"&gt;Left&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="btn-group" role="group"&gt;
        &lt;button type="button" class="btn btn-default"&gt;Middle&lt;/button&gt;
    &lt;/div&gt;
    &lt;div class="btn-group" role="group"&gt;
        &lt;button type="button" class="btn btn-default"&gt;Right&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </article>
            <!-- end post -->
        </div>
        <!-- end main post area -->
        <!-- start sidebar -->
        <div class="col-md-4 sidebar">
            <!-- start widget -->
            <div class="widget">
                <h4 class="title">Follow</h4>

                <div class="content">
                    <ul class="social">
                        <!-- start social links -->
                        <!-- replace the # with your own profile link address -->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa  fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
                        <li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
                        <li><a href="#"><i class="fa fa-xing"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="../rss/index.html"><i class="fa fa-rss"></i></a></li>
                        <!-- end social links -->
                    </ul>
                </div>
            </div>
            <!-- end widget -->    <!-- start tag cloud widget -->
            <div class="widget">
                <h4 class="title">Newsletter</h4>

                <div class="content newsletter">
                    <p>Subscribe to our newsletter</p>

                    <div id="mc_embed_signup">
                        <form action="http://futura-ghost.gbjsolution.com/" method="post"
                              id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                              novalidate>
                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                       placeholder="Enter your email...">
                            </div>
                            <div class="input-group">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                       class="btn btn-default">
                            </div>
                        </form>
                    </div>
                    <div id="message"></div>
                </div>
            </div>
            <!-- end tag cloud widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Recent Post</h4>

                <div class="content recent-post"></div>
            </div>
            <!-- end widget -->    <!-- start tag cloud widget -->
            <div class="widget">
                <h4 class="title">Tags</h4>

                <div class="content tag-cloud"></div>
            </div>
            <!-- end tag cloud widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Advertisement</h4>

                <div class="content ad">
                    <img src="../assets/images/ad-placeholdera7a4.png?v=0eb0f0ea73" alt="">
                </div>
            </div>
            <!-- end widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Facebook</h4>

                <div class="content fb"></div>
            </div>
            <!-- end widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Twitter</h4>

                <div class="content twitter"></div>
            </div>
            <!-- end widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Google +</h4>

                <div class="content google-plus"></div>
            </div>
            <!-- end widget -->    <!-- start widget -->
            <div class="widget">
                <h4 class="title">Text Widget</h4>

                <div class="content">
                    Here you can add any text or html snippet. All widgets are reorderable. Also if you want to remove
                    any widget from sidebar or footer then that is very simple.
                </div>
            </div>
            <!-- end widget --></div>
        <!-- end sidebar -->        </div>
{% endblock %}