{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <!-- start main post area -->
        <div class="col-md-8 main-content">
            <!-- start post -->
            <article id="15" class="post page">
                <div class="post-head">
                    <h2 class="post-title">{{ post.title }}</h2>
                </div>
                <div class="post-content">
                        {{ post.content|raw }}
                </div>
            </article>

            {# about the author #}
            {% include 'partials/post-author.html.twig' with {'author': post.author} %}

            {# discuss #}
            {% include 'partials/comments.html.twig' %}

            <!-- end post -->
        </div>
        <!-- end main post area -->

        {% include 'sidebar.html.twig' %}
    </div>
{% endblock %}