doctype html
html(lang='en')
  head
    base(href='/')
    meta(charset='utf-8')
    //- NOTE if you have html5Mode enabled
    //- meta(name='fragment' content='!') 
    //- meta(name='description', content='{{ metaDescription() }}')
    //- meta(name='keywords', content='{{ metaKeywords() }}')
    meta(name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no')
    //- title(ng-bind='PageTitle.title()')
    //- link(rel='icon', type='image/x-icon', href='{{ MetaInformation.favicon }}')
    link(rel='canonical' href='/')
    link(rel='next' href='/')
    link(rel='alternate' type='application/rss+xml' title='Futura' href='/')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.21/require.js" data-main="js/Main.js")
    //- link(href='/css/style.css', rel='stylesheet', type='text/css')
  body
    header
        ct-header
    section#body-wrapper
      .container(ui-view ng-cloak)
    footer
        ct-footer
    //- script(src='/js/client.js', type='text/javascript')
