md-card.post
  img(ng-src="http://image.slidesharecdn.com/materialdesign-141016130817-conversion-gate02/95/tdc-2014-trilha-mobile-material-design-1-638.jpg?cb=1413464994" class="md-card-image")
  md-card-content.card-header
    h2(class="md-title")
      | Lorem ipsum dolor sit amet
  //-md-card-content.card-content
    p(class="md-body-1")
      | Lorem ipsum dolor sit amet, ei has graece quaerendum, mel iriure detraxit cu. At quo dicat dicit. Cu mei augue reformidans. Vis te malorum ponderum consetetur, adipisci comprehensam an nec. Timeam denique principes at has, ea aliquid laoreet fastidii usu. Et duo alii possit saperet, cu aliquip adversarium pri, an deserunt scriptorem vel.
  md-card-content.card-actions
    .md-actions(layout="row" layout-align="start center")
      md-button(class="md-primary md-raised") Read
      md-button(class="md-raised") Share
//-.row
  .col-md-8.main-content
    article(id="15", class="post page")
      .post-head
        h2.post-title {{ post.title }}
      .post-content.
        {{ post.content }}
    author(author="{{ post.author }}")
    comments(comments="{{ post.comments }}")
