.row
  .col-md-8.main-content
    article(id="15", class="post page")
      .post-head
        h2.post-title {{ post.title }}
      .post-content.
        {{ post.content }}
    author(author="{{ post.author }}")
    comments(comments="{{ post.comments }}")
