{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <!-- start main post area -->
    <div class="col-md-8 main-content">
        <!-- start post -->
        <article id="3" class="post page">
            <div class="post-head">
                <h2 class="post-title">Contact</h2>
            </div>
            <div class="post-content">
                <p><featured><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29422.421992375337!2d88.59482243043139!3d22.809771732261066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f8bb2c20bdf3a5%3A0xcd44aedf53e4de03!2sGuma+Rajibpur+Rd%2C+Bara+Bamonia%2C+West+Bengal%2C+India!5e0!3m2!1sen!2s!4v1421694040998" width="100%" height="450" frameborder="0" style="border:0"></iframe></featured></p>

                <h3 id="address">Address</h3>

                <p>Nittya Nanda Pally <br />
                    P.O.- Dogachia <br />
                    Pin- 743702 <br />
                    Email: <a href="mailto:gbjsolution@gmail.com">gbjsolution@gmail.com</a></p>
            </div>
        </article>
        <!-- end post -->
    </div>
    <!-- end main post area -->
    <!-- start sidebar -->
    <div class="col-md-4 sidebar">
        <!-- start widget -->
        <div class="widget">
            <h4 class="title">Follow</h4>
            <div class="content">
                <ul class="social">
                    <!-- start social links -->
                    <!-- replace the # with your own profile link address -->
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa  fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
                    <li><a href="#"><i class="fa fa-xing"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="../rss/index.html"><i class="fa fa-rss"></i></a></li>
                    <!-- end social links -->
                </ul>
            </div>
        </div>
        <!-- end widget -->	<!-- start tag cloud widget -->
        <div class="widget">
            <h4 class="title">Newsletter</h4>
            <div class="content newsletter">
                <p>Subscribe to our newsletter</p>
                <div id="mc_embed_signup">
                    <form action="http://futura-ghost.gbjsolution.com/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                        <div class="input-group">
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email...">
                        </div>
                        <div class="input-group">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                        </div>
                    </form>
                </div>
                <div id="message"></div>
            </div>
        </div>
        <!-- end tag cloud widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Recent Post</h4>
            <div class="content recent-post"></div>
        </div>
        <!-- end widget -->	<!-- start tag cloud widget -->
        <div class="widget">
            <h4 class="title">Tags</h4>
            <div class="content tag-cloud"></div>
        </div>
        <!-- end tag cloud widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Advertisement</h4>
            <div class="content ad">
                <img src="../assets/images/ad-placeholdera7a4.png?v=0eb0f0ea73" alt="">
            </div>
        </div>
        <!-- end widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Facebook</h4>
            <div class="content fb"></div>
        </div>
        <!-- end widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Twitter</h4>
            <div class="content twitter"></div>
        </div>
        <!-- end widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Google +</h4>
            <div class="content google-plus"></div>
        </div>
        <!-- end widget -->	<!-- start widget -->
        <div class="widget">
            <h4 class="title">Text Widget</h4>
            <div class="content">
                Here you can add any text or html snippet. All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple.
            </div>
        </div>
        <!-- end widget --></div>
    <!-- end sidebar -->
</div>
{% endblock %}