<!-- start about the author -->
<div class="about-author clearfix">
    <a href="/"><img src="../content/images/2015/02/547959_327196730716753_997099273_n.png" alt="Author image" class="avatar pull-left"></a>
    <div class="details">
        <div class="author">
            About <a href="{{ path("author", {'username': post.author.username}) }}">{{ post.author.firstname }} {{ post.author.lastname }}</a>
        </div>
        <div class="meta-info">
            <span class="loaction"><i class="fa fa-home"></i>Portugal</span>
                        <span class="website"><i class="fa fa-globe"></i>
                            <a href="http://cteam-lab.com/" target="_BLANK">Website</a></span>
        </div>
        <div class="bio">
            Love to design and code. I believe on quality than quantity. Like to meet new people and have tea.
        </div>
    </div>
</div>
<!-- end about the author -->